.text-input {
    border: 1px solid;
    outline: none;
    cursor: text; /* Updated to match default input cursor */
}

.text-input-disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}
