.button {
    border: none;
    cursor: pointer;
}

.button-primary {
    background-color: #004B93;
}

.button-secondary {
    background-color: #79B2E1;
}

.button-success {
    background-color: #24C18F;
}